.DS_Store
.sass-cache
api_server/access.json
api_server/config.json
api_server/node_modules/*
contactApp/node_modules/*

contactApp/platforms/
contactApp/plugins/



.ftppass
*.seed
*.log
*.dat
*.out
*.pid
*.gz
pids
logs
